<header>
  <a href="/" class="pages__anchor"><h1>Movie Directory</h1></a>
  <nav class="pages">
    <a href="/search" class="pages__anchor">Search Movie</a>
    <a href="/addMovie" class="pages__anchor">Add Movie</a>
    <a href="/movieList" class="pages__anchor">List of Movies</a>
    <a href="/about" class="pages__anchor">About</a>
  </nav>
</header>
