body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
}

.pages {
    display: flex;
    align-items: center;
}

.pages__anchor {
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

.form {
    padding: 20px;
    margin: auto;
    width: 50%;
}

.form__input {
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid;
}

.form__file {
    margin: 5px 0;
}

.form__submit {
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}