<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <h1>About Movie Directory</h1>

      <div class="about__text">
        <h3>
          Movie Directory is a Project using Node.js, Express.js, Mongoose,
          MongoDB and more for adding Movies to a Database Library. In this
          project, you will be able to add any movie to your MongoDB collection
          by including the movie attributes Title, Description, Director,
          Release Date, Genres, Duration, Score (1-10) and a Cover Image. After
          adding a movie you will be able to Edit or Delete it. On the List of
          Movies page, you will be able to view all added movies and their total
          number. And on the Search page, you will be able to search for the
          movies you have added and see the Recently Added movies.
        </h3>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
